<ion-card>
  <ion-card-header>
    <ion-card-title>{{ 'bus.routeName' | translate: { routeName: routeName } }}</ion-card-title>
    <ion-card-subtitle>{{ 'bus.heading.' + destination | translate }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-list-header>
        <ion-label>{{ 'bus.stop.' + stopName | translate }}</ion-label>
        <ion-button [href]="timetableURL">{{ 'bus.timetable.all' | translate }}</ion-button>
      </ion-list-header>
      <ng-template [ngIf]="routeItem.realtime.length > 0">
        <ion-item *ngFor="let item of routeItem.realtime.slice(0, 6); let i = index" lines="none">
          <div class="container">
            <ion-text *ngIf="item.remainedSeat >= 0">{{ "bus.realtime.item.withSeat" | translate: {minute: item.remainedTime, seat: item.remainedSeat} }}</ion-text>
            <ion-text *ngIf="item.remainedSeat < 0">{{ "bus.realtime.item.withSeat" | translate: {minute: item.remainedTime} }}</ion-text>
          </div>
        </ion-item>
      </ng-template>
      <ng-template [ngIf]="routeItem.timetable.length > 0">
        <ion-item *ngFor="let item of routeItem.timetable.slice(0, 6); let i = index" lines="none">
          <div class="container">
            <ion-text *ngIf="i !== routeItem.timetable.length - 1">{{ "bus.timetable.item" | translate: {hour: item.departureTime.split(":")[0], minute: item.departureTime.split(":")[1]} }}</ion-text>
            <ion-text class="last-bus" *ngIf="i === routeItem.timetable.length - 1">{{ "bus.timetable.last.item" | translate: {hour: item.departureTime.split(":")[0], minute: item.departureTime.split(":")[1]} }}</ion-text>
          </div>
        </ion-item>
      </ng-template>
      <ng-template [ngIf]="routeItem.realtime.length + routeItem.timetable.length === 0">
        <ion-item lines="none">
          <ion-label style="text-align: center">{{ 'shuttle.out_of_service' | translate }}</ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
  </ion-card-content>
</ion-card>
