ion-list {
  padding: 20px;
  margin-bottom: 60px;
  --ion-item-background: var(--ion-background-color);
}

.DH {
  color: red;
  font-weight: bold;
}

.DY {
  color: green;
  font-weight: bold;
}

.C {
  color: var(--ion-color-primary);
  font-weight: bold;
}
