<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "cafeteria.title" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "cafeteria.title" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper (swiper)="setSwiperInstance($event)" slidesPerView="1.2" centeredSlides="centeredSlides">
    <ng-template swiperSlide>
      <div class="slide-content">
        <app-cafeteria-card cafeteriaName="student" cafeteriaIndex="0"></app-cafeteria-card>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-content">
        <app-cafeteria-card cafeteriaName="faculty" cafeteriaIndex="1"></app-cafeteria-card>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-content">
        <app-cafeteria-card cafeteriaName="food-court" cafeteriaIndex="2"></app-cafeteria-card>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-content">
        <app-cafeteria-card cafeteriaName="foundation" cafeteriaIndex="3"></app-cafeteria-card>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide-content">
        <app-cafeteria-card cafeteriaName="dormitory" cafeteriaIndex="4"></app-cafeteria-card>
      </div>
    </ng-template>
  </swiper>
</ion-content>
