<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "shuttle.title" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "shuttle.title" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper>
    <ng-template swiperSlide>
      <app-shuttle-dual-card stopName="dormitory"></app-shuttle-dual-card>
    </ng-template>
    <ng-template swiperSlide>
      <app-shuttle-dual-card stopName="shuttlecock_o" timeDeltaDH="0" timeDeltaDY="0" timeDeltaC="0"></app-shuttle-dual-card>
    </ng-template>
    <ng-template swiperSlide>
      <app-shuttle-dual-card stopName="station" firstDestination="campus" secondDestination="terminal" timeDeltaDH="10" timeDeltaC="10"></app-shuttle-dual-card>
    </ng-template>
    <ng-template swiperSlide>
      <app-shuttle-single-card stopName="terminal" firstDestination="campus" timeDeltaDY="10" timeDeltaC="15"></app-shuttle-single-card>
    </ng-template>
    <ng-template swiperSlide>
      <app-shuttle-single-card stopName="shuttlecock_i" firstDestination="dormitory" timeDeltaDH="20" timeDeltaDY="20" timeDeltaC="25"></app-shuttle-single-card>
    </ng-template>
  </swiper>
</ion-content>
