ion-list {
  padding: 20px;
  margin-bottom: 60px;
  --ion-item-background: var(--ion-background-color);
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .realtime {
      font-weight: bold;
    }
  }
  ion-text {
    font-size: medium;
    text-align: end;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
