<ion-card>
  <ion-card-header>
    <ion-card-title>{{ 'subway.line.' + routeName + '.name' | translate }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label [class]="routeName">{{ 'subway.heading.up' | translate }}</ion-label>
        <ion-button [href]="upTimetableURL">{{ 'subway.timetable.all' | translate }}</ion-button>
      </ion-list-header>
      <ng-template [ngIf]="subwayRealtimeItems.up.length > 0">
        <ion-item *ngFor="let item of subwayRealtimeItems.up.slice(0, 5)">
          <div class="container">
            <ion-text>{{ 'subway.realtime.heading' | translate: {destination: 'subway.destination.' + getSubwayDestination(item.terminalStation) | translate} }}</ion-text>
            <ion-text>{{ 'subway.realtime.item.sub' | translate: {minute: item.remainedTime, currentStation: item.currentStation, status: item.status} }}</ion-text>
          </div>
        </ion-item>
      </ng-template>
      <ng-template [ngIf]="subwayTimetableItems.up.length > 0 && subwayRealtimeItems.up.length < 5">
        <ion-item *ngFor="let item of subwayTimetableItems.up.slice(0, 5 - subwayRealtimeItems.up.length)">
          <div class="container">
            <ion-text>{{ 'subway.realtime.heading' | translate: {destination: 'subway.destination.' + getSubwayDestination(item.terminalStation) | translate} }}</ion-text>
            <ion-text>{{ 'subway.timetable.item' | translate: {hour: item.departureTime.split(":")[0], minute: item.departureTime.split(":")[1] } }}</ion-text>
          </div>
        </ion-item>
      </ng-template>
      <ng-template [ngIf]="subwayRealtimeItems.up.length === 0 && subwayTimetableItems.up.length === 0">
        <ion-item lines="none">
          <ion-label style="text-align: center">{{ 'shuttle.out_of_service' | translate }}</ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
    <ion-list lines="none" style="margin-top: 10px">
      <ion-list-header>
        <ion-label [class]="routeName">{{ 'subway.heading.down' | translate }}</ion-label>
        <ion-button [href]="downTimetableURL">{{ 'subway.timetable.all' | translate }}</ion-button>
      </ion-list-header>
      <ng-template [ngIf]="subwayRealtimeItems.down.length > 0">
        <ion-item *ngFor="let item of subwayRealtimeItems.down.slice(0, 5)">
          <div class="container">
            <ion-text>{{ 'subway.realtime.heading' | translate: {destination: 'subway.destination.' + getSubwayDestination(item.terminalStation) | translate} }}</ion-text>
            <ion-text>{{ 'subway.realtime.item.sub' | translate: {minute: item.remainedTime, currentStation: item.currentStation, status: item.status} }}</ion-text>
          </div>
        </ion-item>
      </ng-template>
      <ng-template [ngIf]="subwayTimetableItems.down.length > 0 && subwayRealtimeItems.down.length < 5">
        <ion-item *ngFor="let item of subwayTimetableItems.down.slice(0, 5 - subwayRealtimeItems.down.length)">
          <div class="container">
            <ion-text>{{ 'subway.realtime.heading' | translate: {destination: 'subway.destination.' + getSubwayDestination(item.terminalStation) | translate} }}</ion-text>
            <ion-text>{{ 'subway.timetable.item' | translate: {hour: item.departureTime.split(":")[0], minute: item.departureTime.split(":")[1] } }}</ion-text>
          </div>
        </ion-item>
      </ng-template>
      <ng-template [ngIf]="subwayRealtimeItems.down.length === 0 && subwayTimetableItems.down.length === 0">
        <ion-item lines="none">
          <ion-label style="text-align: center">{{ 'shuttle.out_of_service' | translate }}</ion-label>
        </ion-item>
      </ng-template>
    </ion-list>
  </ion-card-content>
</ion-card>
