<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="shuttle">
      <ion-icon name="bus"></ion-icon>
      <ion-label>{{ 'shuttle.title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bus">
      <ion-icon name="bus-outline"></ion-icon>
      <ion-label>{{ 'bus.title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="subway">
      <ion-icon name="subway-sharp"></ion-icon>
      <ion-label>{{ 'subway.title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cafeteria">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>{{ 'cafeteria.title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>{{ 'menu.title' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
