<ion-card>
  <ion-card-header>
    <ion-card-title>{{ 'cafeteria.name.' + cafeteriaName | translate }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list *ngIf="breakfastMenuList.length > 0">
      <ion-list-header>
        <ion-label>{{ 'cafeteria.type.breakfast' | translate }}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let menu of breakfastMenuList; let i = index;" [lines]="i < breakfastMenuList.length - 1 ? 'inset': 'none'">
        <ion-label>
          <h2><p class="menu">{{ menu.menu }}</p></h2>
          <p class="price">₩ {{ menu.price }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="lunchMenuList.length > 0">
      <ion-list-header>
        <ion-label>{{ 'cafeteria.type.lunch' | translate }}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let menu of lunchMenuList; let i = index;" [lines]="i < lunchMenuList.length - 1 ? 'inset': 'none'">
        <ion-label>
          <h2><p class="menu">{{ menu.menu }}</p></h2>
          <p class="price">₩ {{ menu.price }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="dinnerMenuList.length > 0">
      <ion-list-header>
        <ion-label>{{ 'cafeteria.type.dinner' | translate }}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let menu of dinnerMenuList; let i = index;" [lines]="i < dinnerMenuList.length - 1 ? 'inset': 'none'">
        <ion-label>
          <h2><p class="menu">{{ menu.menu }}</p></h2>
          <p class="price">₩ {{ menu.price }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="lunchAndDinnerMenuList.length > 0">
      <ion-list-header>
        <ion-label>{{ 'cafeteria.type.lunchAndDinner' | translate }}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let menu of lunchAndDinnerMenuList; let i = index;" [lines]="i < lunchAndDinnerMenuList.length - 1 ? 'inset': 'none'">
        <ion-label>
          <h2><p class="menu">{{ menu.menu }}</p></h2>
          <p class="price">₩ {{ menu.price }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <ion-button fill="clear" (click)="isBookmarked() ? removeBookmark() : addBookmark()">
    <!-- bookmark button -->
    <ion-icon slot="icon-only" name="bookmark-outline" *ngIf="!isBookmarked()"></ion-icon>
    <ion-icon slot="icon-only" name="bookmark" color="primary" *ngIf="isBookmarked()"></ion-icon>
  </ion-button>
</ion-card>
