<ion-card>
  <ion-card-header>
    <ion-card-title>{{ 'shuttle.stop.' + stopName + '.name' | translate }}</ion-card-title>
    <ion-card-subtitle>{{ 'shuttle.stop.' + stopName + '.bound' | translate }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-list-header>
        <ion-text>{{ 'shuttle.heading.' + firstDestination | translate }}</ion-text>
      </ion-list-header>
      <ion-item *ngFor="let item of shuttleTimetableStation.slice(0, 5)">
        {{ "shuttle.timetable.item" | translate: {hour: item.shuttleTime.split(":")[0], minute: item.shuttleTime.split(":")[1]} }}
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-text>{{ 'shuttle.heading.' + secondDestination | translate }}</ion-text>
      </ion-list-header>
      <ion-item *ngFor="let item of shuttleTimetableTerminal.slice(0, 5)">
        {{ "shuttle.timetable.item" | translate: {hour: item.shuttleTime.split(":")[0], minute: item.shuttleTime.split(":")[1]} }}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
