/* Error: Can't find stylesheet to import.
 *    ,
 * 30 | @import '@ionic/angular/css/ionic-swiper';
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   global.scss 30:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 30 \2502  @import '@ionic/angular/css/ionic-swiper';\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   global.scss 30:9  root stylesheet";
}
