ion-card {
  height: 500px;
}

ion-list-header {
  padding-left: 0;
  ion-label {
    text-align: start;
    font-size: large;
  }
  ion-button {
    margin-right: 0;
    span {
      text-align: end;
    }
  }
}

ion-item {
  padding: 0;
}

.DH {
  color: red;
  font-weight: bold;
}

.DY {
  color: green;
  font-weight: bold;
}

.C {
  color: blue;
  font-weight: bold;
}
